body {
	font-size: 80%;
}

table {
	font-size: 1em;
}

#footer {
    font-size: 90%;
}

#footer p {
    text-align: right;
}

#footer a {
    text-decoration: none;
}

.contentList {
    list-style: none;
    padding: 0;                 // Firefox
    -webkit-padding-start: 0px; // Chromium
}
.contentItem {
    list-style: none;
}

.contentLink {
    text-decoration: none;
}

.contentLink :hover {
    background: #E6E6E6;
}

.contentFavicon {
    margin: 0.2em;
    margin-right: 0.5em;
}

.contentTitle {
    vertical-align: top;
}
